.MyName {
    background-color: #4aaaa5;
    padding:20px;
    color: #ffffff;
    float: left;  
    margin-bottom: 0;
}

.container {
    background-color: #ffffff;
}

body {
    background-image: url("../images/purty_wood.png");
    position: relative;
}

nav {
    border-bottom: #cccccc 2px solid;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
li {
    padding: 20px;
}


a:hover {
    background-color: #4aaaa5;
    color: #ffffff;
}
.container {
    padding-left: 0px;
    padding-right: 0px;
    
}
.MainContent {
    margin-top: 30px;
    font-family: Arial, Helvetica, sans-serif; 
    border: solid 2px #dddddd;
    margin-bottom: 20px;
}

.AboutMe {
    color: #4aaaa5;
    padding: 30px;
    border-bottom: solid 2px #cccccc;
    margin-bottom: 30px;
   font-family: Georgia, 'Times New Roman', Times, serif; 
}

.Wrapper {
    width: 1050px;
    margin: 0 auto;
    overflow: auto;
    margin-bottom:30px;
}
p, .form-group {
    
    color: #777777;
    line-height: 200%;
    
}

footer {
    padding: 30px;
    text-align: center;
    font-size: 12px;
    background-color: #666666;
    border-top: solid 6px #4aaaa5;
    color: #ffffff;
    margin-top: 20px;
}



.card {
    margin: 30px;
}

img {
    width: 100%;
    height: auto;
}
