.MyName {
    background-color: #4aaaa5;
    padding:20px;
    color: #ffffff;
    float: left;  
    margin-bottom: 0;
}

.container {
    background-color: #ffffff;
}

body {
    background-image: url("../images/purty_wood.png");
}

nav {
    border-bottom: gray 2px solid;
}

.TopMainContent {
    margin-top: 20px;
}